

/* Box sizing rules */
*,
*::before,
*::after {
 box-sizing: border-box;
}

/* Remove default padding and margin */
* {
 padding: 0;
 margin: 0;
}

body{
   padding: 10px;
}

/* Set core body defaults */
.container {

width: 100%;
height: 100vh;
overflow: scroll;
 display: grid;
 grid-template-areas: 
 " top-left map"
 "heat  axes "
 ;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 700px);
 justify-content: center;
 position: relative;
 top: 50px;
 gap: 0px;
}

.top-left{
   grid-area: top-left;
   display: grid;
   grid-template-areas:
   "tree box"
   ;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
}
.tree{
   grid-area: tree;

}

.map{
   grid-area: map;
   height: 90%;
   width: 100%;
}

.box{
   grid-area: box;

}
.axes{
   grid-area: axes;
   width: 100%;
}
.heat-map{
   grid-area: heat;
   width: 100%;
}

