

/* Box sizing rules */
*,
*::before,
*::after {
 box-sizing: border-box;
}

/* Remove default padding and margin */
* {
 padding: 0;
 margin: 0;
}

body{
   padding: 10px;
}

/* Set core body defaults */
.container {
width: 100%;
height: 100vh;
overflow: scroll;
 display: grid;
 grid-template-areas: "tree map-container"
                        "heat axes";
 grid-template-columns: 750px 1fr;
 grid-template-rows: 520px 600px;
 justify-content: center;
 position: relative;
 
}
.map-container{
   grid-area: map-container;
   display: grid;
   border: 1px solid black;
}

#trajectory{
   grid-area: trajectory;
   display: grid;
   grid-template-areas: "map1 map2";
}
.controller{
   width: 70%;
   height: 50px;
   background-color: rgb(195, 233, 248);
   position: relative;
   margin-right: 20px;
   color: rgb(26, 25, 25);
   font-size: 20px;
}

.tree{
   grid-area: tree;
   border: 1px solid black;
}
.bar-chart{
   grid-area: bar-chart;
   display: none;
   
}
.anime{
   fill: green;
}

#map1{
   grid-area: map1;
   height: 60%;
   width: 100%;
   position: relative;
   bottom: 60px;
   top: 10px;
}

#map2{
   grid-area: map2;
   height: 60%;
   width: 100%;
   position: relative;
   right: 10px;
   bottom: 60px;
   top: 10px;
}
.axes{
   grid-area: axes;
   width: 100%;
   margin-right: 50px;
   z-index: 999;
   border: 1px solid black;
}
.heat-map{
   grid-area: heat;
   width: 100%;
   border: 1px solid black;
   
}

.toggle-btn{
   width: 100px;
   padding: 10px;
   border: none;
   background-color: cornflowerblue;
   color: white;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.534);

}
.toggle-btn:hover{
   cursor: pointer;
   transform: scale(1.2);
}