/* Box sizing rules */
*,
*::before,
*::after {
 box-sizing: border-box;
}

/* Remove default padding and margin */
* {
 padding: 0;
 margin: 0;
}



/* Set core body defaults */
.container {
 display: grid;
 grid-template-areas: "tree map-container map-container"
                        "heat axes controller";
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 width: 100%;
 height: 100vh;
 border: 1px solid black;
 padding-left: 5px;
}
.map-container{
   grid-area: map-container;
   display: grid;
   width: 100%;
   position: relative;
   right: 20px;

}

#trajectory{
   grid-area: trajectory;
   display: grid;
   grid-template-areas: "map1 map2";
   width: 100%;
   border-right: 1px solid black;
}
.controller{
   grid-area: controller;

   height: 100%;
   background-color: rgb(195, 233, 248);
   position: relative;
   margin-right: 20px;
   color: rgb(26, 25, 25);
   border-top: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 50px;
   grid-template-areas: 
   ". h2-controller ."
   ". . ."
   "right-label .  toggle-btn"
}
.h2_controller{
   grid-area: h2-controller;
   position: relative;
   left: 40px;
   font-size: 35px;

}
.right-label{
   grid-area: right-label;
   font-size: 25px;
   position: relative;
   left: 20px;
}
.tree{
   grid-area: tree;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
}
.bar-chart{
   grid-area: bar-chart;
   display: none;
   width: 100%;

}
.anime{
   fill: green;
}

#map1{
   grid-area: map1;
   height: 60%;
   width: 100%;
   position: relative;
   bottom: 60px;
   top: 10px;
}

#map2{
   grid-area: map2;
   height: 60%;
   width: 100%;
   position: relative;
   right: 10px;
   bottom: 60px;
   top: 10px;
}
.axes{
   grid-area: axes;
   width: 100%;
   padding-left: 20px;
   z-index: 999;
   border-top: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
}
.heat-map{
   grid-area: heat;
   width: 100%;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   
}
#checkbox_1{
   grid-area: right-label;
   position: relative;
   left: 10px;
}

.toggle-btn{
   width: 100%;
   padding: 5px;
   border: none;
   background-color: cornflowerblue;
   color: white;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.534);
   grid-area: toggle-btn;
   position: relative;
   font-size: 20px;

}
.toggle-btn:hover{
   cursor: pointer;
   background-color: white;
   color: cornflowerblue;
}