<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
      <div class="tree">
        <h1>Tree</h1>
      </div>
      <div class="map">
        <h1>MAP</h1>
      </div>
      <div class="box">
        <h1>BOX</h1>
      </div>
      <div class="axes">
        <h1>AXES</h1>
      </div>
      <div class="heat-map">
        <h1>HEAT MAP</h1>
      </div>
    </div>
  
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="../static/js/index.js"></script>
  <script src="../static/js/axes.js"></script>
  <script src="../static/js/line.js"></script>
</body>
</html>