<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
</head>
<body>
    <div class="container">
      <div class="top-container">
        <div class="tree card">
          <div class="dropdown">
            <button onclick="selectDataset()" class="dropbtn">Datasets</button>
            <div id="datasets" class="dropdown-content">
              <a href="#" onclick="selectFoxes()">Foxes</a>
              <a href="#" onclick="selectHurricanes()">Hurricanes</a>
              <a href="#" onclick="selectAIS()">AIS</a>
            </div>
          </div>
          <h1>Taxonomy</h1>
          <div id="taxonomy-container"></div>
        </div>
        <div class="map-container card">
          <div id="trajectory">
            <h1 class="left-traj-h1">Left trajectory</h1>
            <h1 class="right-traj-h1">Right trajectory</h1>
            <div class="map" id="map1">  </div>
            <div class="map" id="map2">  </div>
          </div>
        </div>
      </div>       
      <div class="bottom-container">        
        <div class="heat-map card">
          <h1>Frequency HeatMap</h1>
          <div id="heat-map"></div>
        </div>
        <div class="axes-controller card">          
          <div class="axes">
            <h1>Decision Boundaries</h1>
            <!-- <div class="controller" id="controller">
              <h2 class="h2_controller">Controller</h2>
              <div class="controller-content">
                  <h2>Controller</h2>
                  <input id="checkbox_1" class="right_check" type="checkbox">
                  <label class="right-label" for="checkbox_1">Right</label>
                  <button id="toggle-btn" class="toggle-btn"></button>
              </div>
            </div> -->
            <div class="controller-content">
              <h2>Select Element</h2>
              <input id="checkbox_1" class="right_check" type="checkbox">
              <label class="right-label" for="checkbox_1">Right</label>
              <button id="toggle-btn" class="toggle-btn"></button>
          </div>
          <div id="scatter-plot"></div>
          </div>        
      
        </div>
        <div class="bar-chart card" id="#bar-chart">
          <h1>Top 10 Features</h1>
        </div>
      </div>      
    </div>
  </div>
  
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="../static/js/heat_map.js"></script>
  <script src="../static/js/global.js"></script>
  <script src="../static/js/controller.js"></script>
  <script src="../static/js/index.js"></script>
  <script src="../static/js/axes.js"></script>
  <script src="../static/js/line.js"></script>
  <script src="../static/js/map.js"></script>  
  <script src="../static/js/tree.js"></script>
  <script src="../static/js/bar-chart.js"></script>
  
  <!-- <script src="../static/js/box_plot.js"></script> -->
</body>
</html>
