<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
</head>


<body>
  <div class="container">
    <div class="top-left">
      <div class="tree">

      </div>
      <div class="box">
      </div>


    </div>
    <div class="map" id="map">
    </div>

    <div class="axes">
    </div>


    <div class="heat-map"></div>

    <div class="correlogram"></div>

    <div class="horizontal-box-plot"></div>

    <div class="trajectory-plot"></div>

    <div class=interactive-heatmap></div>
    

  </div>
  <!-- Necessary libraries/packages -->
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>   <!-- color scale plugin  -->


  <script> const heatmapData = "{{ url_for('get_heatmap_data') }}"; </script>
  <script> const horizontalBoxData = "{{ url_for('get_horizontal_box_data') }}"; </script>
  <script> const interactiveHeatmapData = "{{ url_for('get_interactive_heatmap_data') }}"; </script>
  <script> const foxTrajectoriesData = "{{ url_for('get_trajectories_data') }}"; </script>
  <script> const taxiData = "{{ url_for('get_beijin_taxi_data') }}"; </script>
  

  
  <!-- JS scripts for plots -->
  <script src="../static/js/global.js"></script>
  <script src="../static/js/index.js"></script>
  <script src="../static/js/axes.js"></script>
  <script src="../static/js/line.js"></script>
  <script src="../static/js/map.js"></script>
  <script src="../static/js/correlogram.js"></script>
  <script src="../static/js/heat_map.js"></script>
  <script src="../static/js/tree.js"></script>
  <script src="../static/js/box_plot.js"></script>
  <script src="../static/js/horizontal_box_plot.js"></script>
  <script src="../static/js/trajectory.js"></script>
  <script src="../static/js/interactive_heatmap.js"></script>


</body>

</html>