<!DOCTYPE html>
<html lang="en">


  <head>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Data Dashboard">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Data Dashboard</title>
 </head>


 <body>
  <div style="overflow-y: scroll; height: 3000px;margin-top: -250px;">
    <div class="about">
      <h1>Data Dashboard</h1>
      <h2>Interactive charts for frontend data visualization using flask and D3js.</h2>
    </div>
    <script src="{{ url_for('static', filename='js/testingD3.js') }}"></script>
    
    
    <div class="visualization">
      <div id="tree"></div>
    </div>

      <!-- Referencing the d3 library -->
      <script src="https://d3js.org/d3.v5.min.js"></script>

      <!-- Referencing to the index.js -->
      <script>
        const treeUrl = "{{ url_for('get_tree_data') }}";
      </script>

      <!-- Referencing to the index.js -->
      <script src="{{ url_for('static', filename='js/tree.js') }}"></script>

 </body>
</html>